---
import { strapiService } from '@bhd-test/data-access';
import Layout from '../../layouts/Layout.astro';

const { slug, subslug } = Astro.params;
const fullSlug = `${slug}/${subslug}`;

const baseUrl = import.meta.env.STRAPI_API_URL;
const token = import.meta.env.STRAPI_API_TOKEN;

const page = await strapiService.getPageBySlug(baseUrl, token, fullSlug);
---

<Layout>
  <h1>Productos</h1>
</Layout>